
<head>
    <script src="Build/Cesium/Cesium.js"></script>
    <link rel="stylesheet" href="Build/Cesium/Widgets/widgets.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON</title>
</head>

<body>
    <div id="cesiumViewer"></div>
</body>
<script>
    let viewer = new Cesium.Viewer("cesiumViewer");

    let czml = new Cesium.CzmlDataSource();
    let elementos = czml.load("escena.czml");

    viewer.dataSources.add(czml);
    viewer.zoomTo(elementos);
</script>

</html>
